<a href="https://colab.research.google.com/github/ShravyaMalogi/Data-Analytics/blob/main/03_Data_Preprocessing_in_Identifying_data__redundancy_and_elimination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd

# Step 1: Create a sample DataFrame with redundant data (duplicate rows and columns)
data = {
    'name': ['John', 'Anna', 'John', 'Peter', 'Anna'],
    'age': [25, 30, 25, 22, 30],
    'salary': [50000, 60000, 50000, 40000, 60000],
    'city': ['New York', 'Los Angeles', 'New York', 'Chicago', 'Los Angeles'],
    'name_duplicate': ['John', 'Anna', 'John', 'Peter', 'Anna'],  # Redundant column
}

df = pd.DataFrame(data)

# Display the original DataFrame with redundancy
print("Step 1: Original DataFrame with Redundancy:")
print(df)

# Step 2: Identifying Duplicate Rows
duplicate_rows = df.duplicated()  # Check for duplicate rows
print("\nStep 2: Identified Duplicate Rows (Boolean Mask):")
print(duplicate_rows)

# Step 3: Removing Duplicate Rows
df_no_duplicates = df.drop_duplicates()
print("\nStep 3: DataFrame After Removing Duplicate Rows:")
print(df_no_duplicates)

# Step 4: Identifying Redundant Columns
# Manually check for duplicate column names and data
redundant_columns = []
for col in df_no_duplicates.columns:
    for other_col in df_no_duplicates.columns:
        if col != other_col and df_no_duplicates[col].equals(df_no_duplicates[other_col]):
            redundant_columns.append(other_col)

redundant_columns = list(set(redundant_columns))  # Remove duplicates from the list

print("\nStep 4: Identified Redundant Columns:", redundant_columns)

# Step 5: Removing Redundant Columns
df_cleaned = df_no_duplicates.drop(columns=redundant_columns)
print("\nStep 5: DataFrame After Removing Redundant Columns:")
print(df_cleaned)

# Step 6: Reset Index after dropping rows/columns
df_cleaned_reset = df_cleaned.reset_index(drop=True)
print("\nStep 6: DataFrame After Resetting Index:")
print(df_cleaned_reset)

Step 1: Original DataFrame with Redundancy:
    name  age  salary         city name_duplicate
0   John   25   50000     New York           John
1   Anna   30   60000  Los Angeles           Anna
2   John   25   50000     New York           John
3  Peter   22   40000      Chicago          Peter
4   Anna   30   60000  Los Angeles           Anna

Step 2: Identified Duplicate Rows (Boolean Mask):
0    False
1    False
2     True
3    False
4     True
dtype: bool

Step 3: DataFrame After Removing Duplicate Rows:
    name  age  salary         city name_duplicate
0   John   25   50000     New York           John
1   Anna   30   60000  Los Angeles           Anna
3  Peter   22   40000      Chicago          Peter

Step 4: Identified Redundant Columns: ['name', 'name_duplicate']

Step 5: DataFrame After Removing Redundant Columns:
   age  salary         city
0   25   50000     New York
1   30   60000  Los Angeles
3   22   40000      Chicago

Step 6: DataFrame After Resetting Index:
   age  salary         city
0   25   50000     New York
1   30   60000  Los Angeles
2   22   40000      Chicago